.teamContainer {
    padding: 50px;
    text-align: center;
    max-width: 80rem;
    align-items: center;
    margin: auto;
}

.teamContainer h2 {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
}

.teamContainer p {
    font-size: 1.2rem;
    color: #4d4c4c;
    margin-bottom: 4rem;
}

.teamGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px; /* Added gap to separate items */
}

.teamMember {
    text-align: center;
    padding: 20px;
    transition: transform 0.2s ease;
}

.teamMember img {
    width: 250px;    
    height: 250px;
    object-fit: cover;
    margin-bottom: 10px;
}

.teamMember h3 {
    font-size: 1.5rem;
    margin: 10px 0;
}

.teamMember p {
    font-weight: bold;
    margin: 0;
}

.teamMember span {
    font-size: 14px;
    color: #666;
}

.teamMember:hover {
    transform: scale(1.05);
}

