.form {
    padding: 25px;
    margin: 0 auto;
  }
  
  .form h2 {
    font-size: 24px;
    color: #333;
    text-align: center;
    margin-bottom: 15px;
  }
  
  .form p {
    font-size: 14px;
    color: #666;
    text-align: center;
    margin-bottom: 35px;
  }
  
  .form input[type="email"] {
    width: 100%;
    padding: 12px 15px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
  }
  
  .form input[type="email"]:focus {
    outline: none;
    border-color: #61ac8a;
    box-shadow: 0 0 5px rgba(97, 172, 138, 0.3);
  }
  
  .form button {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #61ac8a;
    color: white;
    cursor: pointer;
  }
  
  .form button:hover {
    background-color: #549e7a;
  }
  
  .form small {
    display: block;
    margin-top: 15px;
    text-align: center;
  }
  
  .form a {
    color: #7e22ce;
    text-decoration: none;
    font-size: 14px;
  }
  
  .form a:hover {
    text-decoration: underline;
  }
  

  /* UPDATE PASSWORD */

  .formContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .formCard {
    padding: 1rem;
    border-radius: 5px;
    max-width: 400px;
    width: 100%;
    text-align: center;
  }
  
  .title {
    font-size: 1.8rem;
    font-weight: 600;
    color: #333;
    margin-bottom: 1rem;
  }
  
  .subtitle {
    font-size: 0.9rem;
    color: #a3a3a3;
    margin-bottom: 1.5rem;
  }
  
  .inputGroup {
    margin-bottom: 1.2rem;
    text-align: left;
  }
  
  .input {
    width: 100%;
    padding: 0.75rem;
    font-size: 1rem;
    border: 2px solid #e5e5e5;
    border-radius: 6px;
    background-color: #f9f9f9;
    outline: none;
    text-indent: 10px;
  }
  
  .input:focus {
    border-color: #0066CC ;
  }
  
  .submitBtn {
    width: 100%;
    padding: 0.75rem;
    background-color: #9f29bd;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .submitBtn:hover {
    background-color: #8b24a5 ;
  }
  
  @media (max-width: 600px) {
    .formCard {
      padding: 1.5rem;
    }
  
    .title {
      font-size: 1.4rem;
    }
  
    .input {
      padding: 0.65rem;
    }
  
    .submitBtn {
      padding: 0.65rem;
    }
  }
  