.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background-color: #fff;
    max-width: 70rem;
    margin: auto;
  }
  
  .imageContainer {
    flex: 1;
    display: flex;
    justify-content: center;
  }
  
  .image {
    max-width: 180%;
    height: auto;
  }
  
  .textContainer {
    flex: 2;
    padding-left: 4rem;
  }
  
  .textContainer h2 {
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 1rem;
  }
  
  .textContainer p {
    font-size: 1rem;
    color: #555;
    line-height: 1.5;
    margin-bottom: 1.5rem;
  }
  