.sectionContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(150deg, #9c4ab1 40%, #0066CC 130%);
  color: white;
  padding: 80px 60px;
}

.textContainer {
  max-width: 55%;
}

.textContainer h1 {
  font-size: 3.2rem;
  font-weight: 400;
  margin-bottom: 2.2rem;
}

.textContainer h3 {
  font-size: 1.25rem;
  line-height: 1.6;
  font-weight: 500;
  margin-bottom: 2.1rem;
}

.textContainer p {
  font-size: 1.03rem;
  line-height: 1.6;
  margin-bottom: 2rem;
}

.learnMoreButton {
  background-color: white;
  color: #003366;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.learnMoreButton:hover {
  background-color: #e0e0e0;
}

.awardContainer {
  text-align: center;
}

.awardBadge {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 50%;
  border: 2px solid white;
  display: inline-block;
}

.awardBadge p {
  margin: 5px 0;
  font-size: 1.1rem;
}

.awardBadge h2 {
  font-size: 1.5rem;
  margin: 5px 0;
}