.mainDashboard{
    padding-left: 15.2rem;
    /* padding-left: 20rem; */
    padding-right: 1.5rem;
    padding-top: 1.25rem;

}
@media  (max-width:1068px) {
    .mainDashboard{
        padding-left: 0rem;
        padding-right: 0rem;
        padding-top: 0rem;
       
    }
    
}